@media only screen and (max-width: 1300px){
   .imgh1{
    font-size: 40px !important;
   }
   .imgP{
    font-size: 20px !important;
   }
   .contentdiv1 button {
    height: 40px !important;
    width: 116px !important;
    }
    .parent5{
        width: 80% !important;
    }
    .parent5 > div {
        width: 100% !important;
    }
}
@media only screen and (max-width: 1224px){
    .positionAbs {
        height: 230px !important;
        width: 229px !important;
    }
}
@media only screen and (max-width: 1200px){
    .allh4s{
        margin-left: 0px !important;
        
    }
    .pp{
        margin-left: 0 !important;
    }
}
@media only screen and (max-width: 1054px){
    .positionAbs {
        height: 216px !important;
        width: 196px !important;
    }
}
@media only screen and (max-width: 350px){
    .positionAbs {
        height: 213px !important;
        width: 178px !important;
    }
    .reasonH4{
        bottom: 5px !important;
    }
}
@media only screen and (max-width: 992px){
    .socialicons{
        display: none;
    }
    .firstSpan{
        text-align: center !important;
        margin-left: 0% !important;
        width: 100% !important;
    }
    .imgP {
        font-size: 13px !important;
    }
    .imgh1{
        font-size: 30px !important;
       }
    .imgh4{
        font-size: 13px !important;
    }
    .whitediv1 {
        margin-top: 85% !important; 
    } 
}

@media only screen and (max-width: 758px){
    .imgh1{
        font-size: 20px !important;
    }
    .imgP{
        font-size: 10px !important;
    }
    .contentdiv1 button {
        display: none;
    }
    .contentdiv1 {
        margin-left: 16% !important;
        padding-top: 5% !important;
    }
    .contentdiv1 button {
        height: 34px !important;
        width: 98px !important;
    }
    .imagesVolunter {
        height: 163px !important;
        width: 166px !important;
        margin-right: 15%;
        margin-bottom: 36% !important;
    }
}
@media only screen and (max-width: 488px){
    .imgdiv {
        height: 800px !important;
    }
}

@media only screen and (max-width: 437px){
    .fa-envelope {
        display: block !important;
    }
    .fa-phone{
        display: block !important;
    }
}
@media only screen and (max-width: 360px){
    .imgh1{
        font-size: 10px !important;
    }
}



@media only screen and (max-width: 1607px){
    .imgdiv {
        width: 100%;
        height: 624px !important;
    }
}
@media only screen and (max-width: 1354px){
    .imgdiv {
        width: 100%;
        height: 517px !important;
    }
}
@media only screen and (max-width: 1139px){
    .imgdiv {
        width: 100%;
        height: 440px !important;
    }
}
@media only screen and (max-width: 1000px){
    .imgdiv {
        width: 100%;
        height: 378px !important;
    }
    .parent5 {
        width: 90% !important;
    }
}
@media only screen and (max-width: 727px){
    .imgdiv {
        width: 100%;
        height: 279px !important;
    }
    .whitediv222{
        display: none !important;
    }
    .parent6h1 {
        margin-left: 37% !important;
        margin-bottom: 15% !important;
    }
}
@media only screen and (max-width: 992px){
    .imgdiv {
        width: 100%;
        height: 381px !important;
    }
    .img3{
        margin-top: 16px !important;
    }
    .spa{
        font-size: 9px !important;
    }
    .imagesVolunter{
        height: 203px !important;
        width: 203px !important;
        margin-right: 15%;
        margin-bottom: 13%;
    }
}

@media only screen and (max-width: 945px){
    .imagesVolunter {
        height: 166px !important;
        width: 161px !important;
        margin-right: 15%;
        margin-bottom: 31% !important; 
    }
    .whitediv1 {
        margin-top: 76% !important;
    }
    .whiteDiv {
        position: relative;
        height: 254px !important;
        width: 217px !important;
        border-radius: 10px;
        margin-left: 40px !important;
    }
}

@media only screen and (max-width: 854px){
    .whiteDiv {
        position: relative;
        height: 272px !important;
        width: 215px !important;
        margin-left: 29px !important;   
    }
    .whitediv1 {
        margin-top: 91% !important;
    }
    
    .whitediv1 {
        margin-top: 71% !important;
    }
}

@media only screen and (max-width: 474px){
    .imgdiv {
        width: 100%;
        height: 181px !important;
    }
}
@media only screen and (max-width: 324px){
    .imgdiv {
        width: 100%;
        height: 131px !important;
    }
    .fa-calendar{
        font-size: 20px !important;
    }
    .fa-heart-circle-bolt{
        font-size: 20px !important;
    }
    .fa-hand-holding-heart{
        font-size: 20px !important;
    }
    .fa-user-group{
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 1484px){
    .parent3Content {
        left: 60% !important;
        top: 30% !important;
        position: absolute;
    }
}
@media only screen and (max-width: 1260px){
    .parent3Img{
        display: none;
    }
    .parent3Content{
        left: 32% !important;
        top: 30% !important;
    }
}
@media only screen and (max-width: 693px){
    .parent3Content{
        left: 15% !important;
        text-align: center !important;
    }
}
@media only screen and (max-width: 600px){
    .parent3Content{
        left: 6% !important;
    }
    .parent3Content{
        left: 8% !important;
        margin-top: -90px;
    }
    .parent5 {
        width: 100% !important;
    }
}
@media only screen and (max-width: 1260px){
    .parent3 {
        width: 100% !important;
        height: 550px !important;
    }
}
@media only screen and (max-width: 992px){
    .positionAbs{
        width: 187px !important;
    }
}
@media only screen and (max-width: 1260px){
    .parent3{
        height: 484px !important;
    }
}
@media only screen and (max-width: 330px){
    .positionAbs {
        width: 181px !important;
    }
    .parent3Content{
        margin-top: -131px;
    }
}
@media only screen and (max-width: 513px){
    .imagesVolunter {
        margin-right: 10%;
        margin-bottom: 36% !important;
    }
    .whiteDiv{
        height: 184px !important;
        width: 215px !important;
        margin-left: 58px !important;
    }
    .imagesVolunter {
        margin-right: 10%;
        margin-bottom: 14% !important;
    }
}

@media only screen and (max-width: 493px){
    .radiodiv {
        margin-left: 8px !important; 
    }
    .labelradio {
        margin-left: 3px !important;
    }
}

@media only screen and (max-width: 450px){
    .whiteDiv11{
        display: none !important;
        height: 213px !important;
    }
    .whiteDiv {
        height: 210px !important;
        width: 217px !important;
        margin-left: 58px !important;
    }   
      .parenttttt{
        display: inline-block!important;
    } 
      .parentDonate {
       transform: translate(-50%,-50%);
       margin-left: 55%;
    } 
}
@media only screen and (max-width: 400px){
    .doantedivv {
        margin-left: 35px !important;
        width: 297px !important;
    }
}
@media only screen and (max-width: 350px){
    .doantedivv {
        margin-left: 12px !important;
        width: 297px !important;
    }
}
@media only screen and (max-width: 350px){
    .doantedivv {
        margin-left: 4px !important;
        width: 293px !important;
    }
    .positionAbs {
        width: 180px !important;
    }
}