/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&display=swap'); */
.fixed{
    position: fixed;
    top: 0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}

/* header */

.headerParent{
    display: flex;
    margin-top: 10px;   
}

.firstSpan{
    text-align: start;
    margin-left: 5%;
    width: 50%;
    transition: 0.6s;
}
.firstSpan:hover{
   color: #3CC78F;
}
.firstSpan i:last-child{
    margin-left: 20px;
}
.socialicons{
    margin-right: 5%;
    text-align: end;
    width: 50%;
}
.socialicons i{
    margin: 0 2%;
}
.fa-envelope{
    margin-right: 5px;
}
.icons{
    transition: .3s;
}
.icons:hover{
    color: #3CC78F;
}

.navBack{
    background-color: #3CC78F;
    border-radius: 10px;
    min-height: 90px;
    /* margin-top: 25px !important; */
    z-index: 999999;
    width: 90%;
    margin: 0 5%;
    transition: .5s !important;
}
.navbarBrand{
    justify-content: end;
}
.navbar-nav .dropdown-menu {
    position: static;
    border: 1px solid white;
    background-color: #3CC78F;
    transition: 0.7s;
}
.donateButton:hover{
    color: #3CC78F;
}
.dropdownItem{
    transition: .6s;
}
.dropdownItem:hover{
    background-color: rgba(0, 0, 0, 0) !important;
}
.droptoglall{
    transition: .6s !important;
}
.droptoglall:hover{
    color: black !important;
}

.imgdiv{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 800px;
}

.imgContent{
    color: white;
}
.contentdiv1 h1{
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
}
.contentdiv1 button{
    background-color: white;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    transition: 0.6s;
}
.contentdiv1 button:hover{
    background-color: #3CC78F;
    color: white;
}
.contentdiv1{
    margin-left: 25%;
    padding-top: 10%;
}



/* Reason of Helping */

.img3{
    border-radius: 20px;
}
 .nkarneriDivs{
    position: relative;
} 
 .positionAbs{
    position: absolute;
    height: 242px;
    width: 260px;
    border-radius: 25px;
    top: 50%;
    left: 40%;
    box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
} 
.reasonH1{
    text-align: center;
}
.reasonH4{
    transition: 0.6s !important;
    margin-top: 30px !important;
}
.reasonH4:hover{
    color: #3CC78F !important;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb {
    background: #3CC78F; 
    border-radius: 10px;
  }
.reasonSection{
    animation: myani 2s ;
    display: block;
    margin-top: 20px;
}
/* @keyframes myani{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
} */


/* donatesection */


.parent3{
    margin-top: 150px;
    background-color: rgba(60, 199, 143, 0.06);
    width: 100%;
    height: 800px;
    position: relative;
}
.parent3Img{
    background-image: url(../img/man.png);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.parent3Content{
    left: 50%;
    top: 30%;
    position: absolute;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
}
.parent3Content h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
}
.parent3Content p {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Catamaran', sans-serif;
}
.donateButton2{
    background-color: #3CC78F;
    color: white;
    height: 50px;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.6s;
}
.donateButton2:hover{
    background-color: white;
    color: #3CC78F;
    border: 1px solid #3CC78F;
}
.fa-circle-play{
    background-color: #3CC78F;
    border-radius: 50%;
    color: white;
    font-size: 80px;
    margin-left: 300px;
    margin-top: 380px;
    cursor: pointer;
}


/* Popular Causes */

.popH1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
    margin-top: 30px;
    
}
.spa{
    border-bottom: 1px solid rgba(0, 0, 0, 0.326);
    font-weight: bold;
    font-size: 14px;
    margin-left: 22px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Catamaran', sans-serif;
    color: rgba(0, 0, 0, 0.211);
}
.pp{
    margin-left: 22px;
}
.a1img{
    border-radius: 10px;
    width: 100%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
}
.rowcolss{
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    padding: 0 !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
    border-radius:10px;
}
.allh4s{
    margin-top: 20px !important;
    margin-left: 22px;
}
.readme{
    margin-left: 88px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    color: #BCBDBF;
    transition: 0.6s;
}
.readme:hover{
    color: #3CC78F;
    cursor: pointer;
}


/* counter */

.parent5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 100px auto;
    height: 200px;
    background-image: url(../img/counter_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.parent5 > div{
    background-color: rgba(60, 199, 143, 0.7);
    height: 100%;
    width: 100%;
}
.flexcontnet{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: white;
}
.fa-calendar{
    font-size: 40px;
}
.fa-heart-circle-bolt{
    font-size: 40px;
}
.fa-hand-holding-heart{
    font-size: 40px;
}
.fa-user-group{
    font-size: 40px;
}
.flexh4{
    margin-top: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
}


/* our Volunteer  */

.parent6{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.whiteDiv{
    position: relative;
    height: 284px;
    width: 276px;
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
}
.whitediv1{
    margin-top: 80%;
    margin-left: 8%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
}
.whitediv2{
    position: absolute;
    top: 35%;
    left: 86%
}
.imagesVolunter{
    position: absolute;
    bottom: 27%;
    right: 21%;
    height: 250px;
    width: 242px;
    border-radius: 10px;
}
.parent6h1{
    margin-left: 43%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
}




/* donate */

.donateinput{
    border-radius: 10px;
    width: 130px;
    height: 60px;
}
.dollarspan{
    background-color: transparent;
}
.parentDonate{
    text-align: center;
}
.doantedivv{
    display: flex;
    text-align: center;
    border: 1px solid rgba(19, 16, 16, 0.3);
    border-radius: 5px;
    height: 60px;
    width: 370px;
    margin-left: 10px;
    background-color: rgba(187, 8, 8, 0);
}
.doantedivv p {
    margin-top: 15px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.3);
}

.parenttttt{
    display: flex;
    margin: 60px auto;
    justify-content: center;
}
.radiodiv{
    margin-top: 15px;
    margin-left: 35px;
}
.labelradio{
    margin-left: 7px;
}
input[type=radio]{
    margin-left: 8px;
}
.donateButton3{
    background-color: #3CC78F;
    color: white;
    height: 50px;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.6s;
    transform: translate(-50%, -50% );
    margin-left: 50%;
}
.donateButton3:hover{
    background-color: white;
    color: #3CC78F;
    border: 1px solid #3CC78F;
}
input:checked{
    background-color: #3CC78F;
}


/* footerend */

.footerEnd{
    background-color:#F3FCF8;
    height: 100%;
    width: 100%;
    color: #7A7B7C;
}
.footerdivend1{
    margin-top: 80px;
}
.footerdivend1 p{
    margin-top: 30px;
}
.iconsfooter{
    margin-left:20px;
    transition: 0.5s;
}
.iconsfooter:hover{
    color: #3CC78F;
}
.footerdivend2{
    margin-top: 80px;
}
.footerdivend2 h4{
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    margin-left: 30px;
}
.footerdivend2 li{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #7A7B7C;
    transition: 0.5s;
}
li{
    list-style: none;
}
a:hover{
    color: #3CC78F;
}
.fimg{
    border-radius: 10px;
    height: 49px;
    width: 100px;
    margin-left:20px;
}
.footerP{
    margin-left: 20px;
}